<form class="{{cssClass}} updatedNPCSheet" autocomplete="off">
	<div class="contentcontainer">
      <span class="editNPCButton">
        <label>Edit NPC?</label><input class="isNPCEditable" name="flags.pf2e_updatednpcsheet.editNPC.value" type="checkbox" data-dtype="Boolean" {{checked flags.pf2e_updatednpcsheet.editNPC.value}}/>
      </span>
  
    <div class="npc-title-bar">
      <h1 class='name'>{{actor.name}}</h1>
      <h1 class='level'>Creature {{data.details.level.value}}</h1>
    </div>
    
    
    
    <div class="top-section">
    
      <div class="top-quick-container">
        
        <span class="hp-current pf-large" title="MAX HP: {{data.attributes.hp.max}}">
          <label>Current HP:</label>
          <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}" data-dtype="Number" placeholder="0">
        </span>
        <label>Notes/Conditions:</label>
        <textarea name="flags.pf2e_updatednpcsheet.npcNotes.value" type="text" data-dtype="String" placeholder="Write any notes for this NPC here.">{{flags.pf2e_updatednpcsheet.npcNotes.value}}</textarea>
      </div>
    
      <div class="top-stats-container">
      
        <div class="traits-bar">
          <!-- -->
          <!-- Put alignment flag here; add to getData() -->
          <span class="trait alignment">NE</span>
          <span class="trait size">{{actorSize}}</span>
          <!-- Put Trait #each here-->
          <span class="trait">Animal</span>
          <span class="trait">Beast</span>
        </div>
      
        <div class="stats-line">
          <span class="inline-stats rollable" data-attribute="perception">
            <label class="stat-title attribute-name">Perception</label>
            <span class="stat-value attribute-name">+{{data.attributes.perception.value}}</span>
            <span class="stat-detail perception attribute-name">{{data.traits.senses.value}}</span>
          </span>
        </div>
        
        {{#if hasLanguages}}
        <div class="stats-line">
          <span class="inline-stats">
            <label class="stat-title">Languages</label>
            {{#each actor.data.traits.languages.value as |lang lid|}}
            <span class="stat-list">
              <span class="stat-minortitle">{{lang}}</span>
            </span>
            {{/each}}
          </span>
        </div>
        {{/if}}
        
        {{#if hasSkills}}
        <div class="stats-line">
          <span class="inline-stats">
            <label class="stat-title">Skills</label>
            {{#each actor.lores as |lore lid|}}
            <span class="stat-list item rollable" data-skill="{{s}}" data-item-id="{{lore.id}}">
              <span class="stat-minortitle npc-skill-name rollable">{{lore.name}}</span>
              <span class="stat-value npc-skill-name rollable">+{{lore.data.mod.value}}</span>
            </span>
            {{/each}}
          </span>
        </div>
        {{/if}}

        <div class="stats-line">
          <span class="inline-stats">
            {{#each data.abilities as |ability id|}}
            <span class="stat-list rollable" data-ability="{{id}}">
              <label class="stat-title ability-name">{{id}}</label>
              <span class="stat-value ability-name">{{numberFormat ability.mod decimals=0 sign=true}}</span>
            </span>
            {{/each}}
          </span>
        </div>
    
    	{{#if hasEquipment}}
        <div class="stats-line equipment">
          <span class="inline-stats">
            <label class="stat-title">Items</label>
            {{#each actor.equipment as |item iid|}}
            <span class="stat-list item" data-item-id="{{item.id}}">
              <span class="stat-minortitle item-control item-edit" data-item-id="{{item.id}}" title="{{strip_tags item.data.description.value}}">{{item.name}}</span>
            </span>
            {{/each}}
          </span>
        </div>
        {{/if}}
        
      </div>
    </div>
        
    <ol class="actions-list inventory-list directory-list">
      {{#each actor.reorgActions.interaction.actions as |section sid|}}
        {{#each section.actions as |action aid|}}
        <li class="item action-item" data-item-name="{{action.name}}" data-item-id="{{action.id}}">
            <div class="item-name rollable">
                <div class="item-image" style="background-image: url({{action.img}})"></div>
                <h4>
                    {{action.name}}
                </h4>
            </div>
            {{#if ../../owner}}
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>                            
            </div>
            {{/if}}
        </li>
        {{/each}}
   	 {{/each}}
    </ol>
    
    <hr>
    
    <div class="stats-line">
      <span class="inline-stats">
        <span class="stat-list major-stat">
          <label class="stat-title">AC</label>
          <span class="stat-value">{{data.attributes.ac.value}}</span>
          {{#if hasACDetails}}
          <span class="stat-detail">{{data.attributes.ac.details}}</span>
          {{/if}}
        </span>
        <span class="stat-list rollable" data-save="fortitude">
          <label class="stat-title save-name">Fort</label>
          <span class="stat-value save-name">+{{data.saves.fortitude.value}}</span>
          {{#if hasFortDetails}}
          <span class="stat-detail save-name">{{data.saves.fortitude.saveDetail}}</span>
          {{/if}}
        </span>
        <span class="stat-list rollable" data-save="reflex">
          <label class="stat-title save-name">Ref</label>
          <span class="stat-value save-name">+{{data.saves.reflex.value}}</span>
          {{#if hasRefDetails}}
          <span class="stat-detail save-name">{{data.saves.reflex.saveDetail}}</span>
          {{/if}}
        </span>
        <span class="stat-list rollable" data-save="will">
          <label class="stat-title save-name">Will</label>
          <span class="stat-value save-name">+{{data.saves.will.value}}</span>
          {{#if hasWillDetails}}
          <span class="stat-detail save-name">{{data.saves.will.saveDetail}}</span>
          {{/if}}
        </span>
      	{{#if hasAllSaveDetails}}
        <span class="stat-list" data-save="will">
          <label class="stat-title">All Saves</label>
          <span class="stat-value">{{flags.pf2e_updatednpcsheet.allSaveDetail.value}}</span>
        </span>
      	{{/if}}
        
      </span>
    </div>
    
    <div class="stats-line">
      <span class="inline-stats">
        <span class="stat-list major-stat">
          <label class="stat-title">HP</label>
          <span class="stat-value">{{data.attributes.hp.max}}</span>
  	      {{#if hasHPDetails}}
          <span class="stat-detail">{{data.attributes.hp.details}}</span>
          {{/if}}
        </span>
        
        {{#if hasImmunities}}
        <span class="stat-list major-stat">
          <label class="stat-title">Immunities</label>
          <span class="stat-value">{{data.traits.di.textValue}}</span>
        </span>
        {{/if}}
       	
        {{#if hasResistances}}
        <span class="stat-list major-stat">
          <label class="stat-title">Resistances</label>
          <span class="stat-value">{{data.traits.dr.textValue}}</span>
        </span>
        {{/if}}
        
        {{#if hasWeaknesses}}
        <span class="stat-list major-stat">
          <label class="stat-title">Weaknesses</label>
          <span class="stat-value">{{data.traits.dv.textValue}}</span>
        </span>
        {{/if}}
        
      </span>
    </div>
    
    <ol class="actions-list inventory-list directory-list">
      {{#each actor.reorgActions.defensive.actions as |section sid|}}
        {{#each section.actions as |action aid|}}
        <li class="item action-item" data-item-name="{{action.name}}" data-item-id="{{action.id}}">
            <div class="item-name rollable">
                <div class="item-image" style="background-image: url({{action.img}})"></div>
                <h4>
                    {{action.name}}
                </h4>
            </div>
            {{#if ../../owner}}
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>                            
            </div>
            {{/if}}
        </li>
        {{/each}}
   	 {{/each}}
    </ol>
    
    <hr>
    
    <div class="stats-line">
      <span class="inline-stats">
          <label class="stat-title">Speed</label>
          <span class="stat-value">{{data.attributes.speed.value}}</span>
          {{#if hasSpeedDetails}}
          <span class="stat-detail speed">{{data.attributes.speed.special}}</span>
          {{/if}}
      </span>
    </div>
    
    <ol class="actions-list inventory-list directory-list">
      {{#each actor.attacks as |section sid|}}
        <li class="item inventory-header sub-category spellbook-header attack-header">
            <h3 class="item-name pf-sub-category pf-actions">{{section.label}}</h3>
            {{#if ../owner}}
            <div class="item-controls">
                <a class="item-control item-create" title="Create Attack" data-type="{{section.type}}" data-action-type="{{sid}}"><i class="fas fa-plus"></i> Add</a>
            </div>
            {{/if}}
        </li>
        {{#each section.items as |item iid|}}
        <li class="item" data-item-id="{{item.id}}">
            <div class="melee-name rollable">
                <div class="item-image" style="background-image: url({{item.img}})"></div>
                <h4>
                    {{item.name}}
                </h4>
                <div class="melee-buttons">
                    <span class="tag"><button data-action="weaponAttack" >Strike (+{{item.data.bonus.total}})</button></span>
                    <span class="tag"><button data-action="weaponAttack2" >{{#unless item.data.isAgile}}-5{{else}}-4{{/unless}}</button></span>
                    <span class="tag"><button data-action="weaponAttack3" >{{#unless item.data.isAgile}}-10{{else}}-8{{/unless}}</button></span>
                    {{#if_all item.flags item.flags.pf2e_updatednpcsheet item.flags.pf2e_updatednpcsheet.damageRolls}}
                        {{#each item.flags.pf2e_updatednpcsheet.damageRolls as |damageRoll dID|}}
                            <span class="tag"><button class="npc-damageroll" data-dmgRoll="{{dID}}" data-action="npcDamageRoll">DMG: {{damageRoll.die}} {{damageRoll.damageType}}</button></span>   
                        {{/each}}
                    {{else}}
                        {{#unless item.data.damage.dice}}
                        <span class="tag"><button data-action="weaponDamage">Damage ({{item.data.damage.die}})</button></span>    
                        {{else}}
                        <span class="tag"><button data-action="weaponDamage">Damage ({{item.data.damage.dice}}{{item.data.damage.die}}+{{../../data.abilities.str.mod}})</button></span>    
                        {{/unless}}
                    {{/if_all}}
                    {{#if_all item.flags item.flags.pf2e_updatednpcsheet item.flags.pf2e_updatednpcsheet.attackEffects}}
                        {{#each item.flags.pf2e_updatednpcsheet.attackEffects as |attackEffect aID|}}
                            <span class="tag"><button class="npc-attackEffect" data-attackEffect="{{aID}}" data-action="npcAttackEffect">Plus {{attackEffect}}</button></span>   
                        {{/each}}
                    {{/if_all}}
                </div>
            </div>
            {{#if ../../owner}}
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                {{#unless action.feat}}
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                {{/unless}}
            </div>
            {{/if}}
        </li>
        {{/each}}
      {{/each}}
    </ol>
    
    {{#if hasSpells}}
    <hr>
    <div class="stats-line">
      <span class="inline-stats">
          <label class="stat-title">Spells</label>
          <span class="stat-value">DC {{data.attributes.spelldc.dc}}</span>
          <span class="stat-detail speed">attack +{{spellAttackBonus}}</span>
      </span>
    </div>
    
    <ol class="actions-list inventory-list directory-list">
                  <!-- List Spells -->
                {{#each actor.spellbook as |section lvl|}}
                    <li class="item inventory-header sub-category spellbook-header">
                        <div class="item-name flexrow">
                            <h3>{{section.label}}</h3>
        
                            {{#unless section.isCantrip}}
                            <span class="spell-slots-input">
                                <input type="text" name="data.spells.spell{{lvl}}.value" value="{{section.uses}}" placeholder="0"/>
                            </span>
                            <span class="flex0"> / </span>
                            <span class="spell-max-input">
                                <input type="text" name="data.spells.spell{{lvl}}.max" value="{{section.slots}}" placeholder="0"/>
                            </span>
                            {{else}}
                            <span class="spell-slots">&infin;</span>
                            <span class="flex0"> / </span>
                            <span class="spell-max">&infin;</span>
                            {{/unless}}
                        </div>
        
                        <!-- <div class="spell-school-header">School</div>
                        <div class="spell-action-header">Action</div> -->
        
                        {{#if ../owner}}
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create Spell" data-type="spell"
                            data-level="{{lvl}}"><i class="fas fa-plus"></i> Add</a>
                        </div>
                        {{/if}}
                    </li>
        
                    {{#each section.spells as |item i|}}
                    <li class="item" data-item-id="{{item.id}}">
                        <div class="item-name rollable">
                            <div class="item-image" style="background-image: url({{item.img}})"></div>
                            <h4>{{item.name}}</h4>
                        </div>
        
                        <!-- <div class="spell-school">{{item.data.school.str}}</div>
                        <div class="spell-action">{{item.data.time.value}}</div> -->
        
                        {{#if ../../owner}}
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                        {{/if}}
                    </li>
                    {{/each}}
                {{else}}
<!--                     <li class="item inventory-header spellbook-header spellbook-empty">
                        {{#if owner}}
                        <div class="pf-sub-category">
                            <a class="item-control item-create" title="Create Spell" data-type="spell"
                            data-level="{{lvl}}"><i class="fas fa-plus"></i> Add Spell</a>
                        </div>
                        {{/if}}
                    </li> -->
                {{/each}}
  
    </ol>
    <hr>
    {{/if}}
    
    <ol class="actions-list inventory-list directory-list">
      {{#each actor.reorgActions.offensive.actions as |section sid|}}
        {{#each section.actions as |action aid|}}
        <li class="item action-item" data-item-name="{{action.name}}" data-item-id="{{action.id}}">
            <div class="item-name rollable">
                <div class="item-image" style="background-image: url({{action.img}})"></div>
                <h4>
                    {{action.name}}
                </h4>
            </div>
            {{#if ../../owner}}
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>                            
            </div>
            {{/if}}
        </li>
        {{/each}}
   	 {{/each}}
    </ol>
    </div>
    <div class="bgcontainer" style="background-image: url('{{actor.img}}')"></div>
</form>